body {
  background-image: url("building.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.login {
  border: 5px solid rgb(59, 51, 51);
  border-radius: 20px;
  height: 60%;
  width: 30%;
  background: transparent;
  text-align: center;
  margin-left: 35%;
  margin-top: 100px;
  position: fixed;
  backdrop-filter: blur(10px);
}
.username {
  height: 50px;
  width: 60%;
  background: transparent;
  color: rgb(44, 36, 36);
  margin-top: 100px;
  border-radius: 5px;
  border: 4px solid rgb(44, 36, 36);
  color: white;
  outline: none;
}
.username:hover {
  background-color: rgb(63, 54, 54);
}
.btn {
  display: inline-block;
  padding: 15px 50px;
  background-color: rgb(44, 36, 36);
  color: black;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15%;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(80, 36, 36);
}

.link {
  text-decoration: none;
  color: black;
}


